<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title | LMS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <!-- Bootstrap 3.3.7 -->
    @Styles.Render("~/Content/bootstrap")
    <!-- Font Awesome -->
    @Styles.Render("~/Content/font-awesome")
    <!-- Ionicons -->
    @Styles.Render("~/Content/ionicons")
    <!-- Theme style -->
    @Styles.Render("~/Content/adminLTE")
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    @Styles.Render("~/Content/allskins")
    @Styles.Render("~/Content/datePicker")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS sidebar-collapse TO HIDE THE SIDEBAR PRIOR TO LOADING THE SITE -->
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        @Html.Partial("_headerPartial")
        @Html.Partial("_sidebarPartial")


        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                @RenderBody()
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2014-@DateTime.Now.Year <a href="http://sahadat.droppages.com">Sahadat Hossen</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap 3.3.7 -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- SlimScroll -->
    @Scripts.Render("~/bundles/slimscroll")
    <!-- FastClick -->
    @Scripts.Render("~/bundles/fastclick")
    <!-- AdminLTE App -->
    @Scripts.Render("~/bundles/adminlte")
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/bundles/demo")
    @Scripts.Render("~/bundles/datePicker")
    @RenderSection("scripts", required: false)

        <script>
             $(".datePicker").attr('autocomplete','off')
            $(".datePicker").datepicker({ autoclose: true ,format:'dd-mm-yyyy'});
        </script>

</body>
</html>
