@model IEnumerable<LMS.Entities.Member>
<div class="box">
    <div class="box-header">
        <h3 class="box-title"></h3>

        <div class="box-tools">
            <a class="btn btn-sm btn-success" href="@Url.Action("Add","Member")"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-bordered">
            <tr>
                <th></th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MemberName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().FatherName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().GroupId)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MobileNo)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Profession)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DueLoan)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SavingAmount)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                <th></th>

            </tr>
            @{
             
                foreach (var member in Model)
                {
                        <tr>
                            <th><img height="50" width="50" src="@Url.Content(member.Image)"></th>
                            <th>@Html.DisplayFor(model => member.MemberName)</th>
                            <th>@Html.DisplayFor(model => member.FatherName)</th>
                            <th>@Html.DisplayFor(model => member.Group.GroupName)</th>
                            <th>@Html.DisplayFor(model => member.MobileNo)</th>
                            <th>@Html.DisplayFor(model => member.Profession)</th>
                            <th>@Html.DisplayFor(model => member.DueLoan)</th>
                            <th>@Html.DisplayFor(model => member.SavingAmount)</th>

                            <th>
                                <span class="badge bg-green-active">
                                    @Enum.GetName(typeof(EnumStatus), member.Status)
                                </span>
                            </th>
                            <th>
                                @if (member.Status == (byte)EnumStatus.Active)
                                {
                                    <a class="btn btn-sm btn-success" href="@Url.Action("Edit","Member",new {id=member.Id })"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Deactive","Member",new {id=member.Id })" onclick="confirm('ডিএক্টিব  করতে চান?')? true : event.preventDefault()"><i class="fa fa-times"></i></a>

                                }
                                else
                                {
                                    <a class="btn btn-sm btn-danger" href="@Url.Action("Active","Member",new {id=member.Id })" onclick="confirm('এক্টিব করতে চান?')? true : event.preventDefault()"><i class="fa fa-recycle"></i></a>
                                }
                            </th>

                        </tr>
                }
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
