@model IEnumerable<LMS.Entities.Loan>
<div class="box">
    <div class="box-header">
        <h3 class="box-title">ঋণ সমূহ</h3>

        <div class="box-tools">
            <a class="btn btn-sm btn-success" href="@Url.Action("Add","Loan")"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table table-bordered">
            <tr>
                
                <th>#</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MemberId)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProjectName)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().LoanAmount)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProfitAmount)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ServiceAmount)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PayableAmount)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Status)</th>
                <th></th>

            </tr>
            @{
                int i = 1;
                foreach (var loan in Model)
                {
                        <tr>
                            <th><img height="50" width="50" src="@Url.Content(loan.Member.Image)"></th>
                            <th>@Html.DisplayFor(model => loan.Member.MemberName)</th>
                            <th>@Html.DisplayFor(model => loan.ProjectName)</th>
                            <th>@Html.DisplayFor(model => loan.LoanAmount)</th>
                            <th>@Html.DisplayFor(model => loan.ProfitAmount)</th>
                            <th>@Html.DisplayFor(model => loan.ServiceAmount)</th>
                            <th>@Html.DisplayFor(model => loan.PayableAmount)</th>
                            <th>
                                <span class="badge bg-green-active">
                                    @Enum.GetName(typeof(EnumStatus), loan.Status)
                                </span>
                            </th>
                            <th>
                                <a class="btn btn-sm btn-success" href="@Url.Action("Add","Group")"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger" href="@Url.Action("Add","Group")"><i class="fa fa-times"></i></a>
                            </th>

                        </tr>
                }
            }
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->
